@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&family=Silkscreen&display=swap");
* {
  font-family: "Silkscreen", cursive;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.anim {
  animation: anim 0.2s ease;
}

.hue {
  animation: color 10s ease-in-out infinite alternate;
}

@keyframes color {
  from {
    filter: hue-rotate(-0.25turn);
  }
  to {
    filter: hue-rotate(0.25turn);
  }
}

@keyframes anim {
  from {
    opacity: 0;
    scale: 0;
    rotate: 360deg;
  }
  to {
    opacity: 1;
    scale: 1;
    rotate: 0deg;
  }
}
.test {
  animaton: shake 0.3s ease;
}
.shaker {
  animaton: shake 0.3s ease infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
